.hamburger{
	position:relative;
    background-color:transparent;
	height:20px;
	width:30px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}
.menuppal {
    position: fixed;
    bottom: 0;
    height: 20rem;
    top: 0;
    left: 0;
    background-color: #ccc5b9;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
    background-color: rgba(204, 197, 185, 0.75);
    backdrop-filter: blur(5px);
        ul {
            margin-top: 2rem;

            li {
                text-align: center;
                padding: 1rem;
                list-style: none;
                color:#369;
                text-transform:none;
                font-weight:bold;
                    button {
                        text-decoration:none;
                        background: none;
                        border: none;
                        font-size: 1rem;
                        font-weight: 500;
                        color: #4b4b4b;
                            &:hover {
                                text-decoration:none;
                                color: black;
                            }
                            &.active {
                                color: var(--olive);
                            }
                    }
            }
        }
        .menuppal-button {
            margin: 1rem auto auto auto;
            text-align: center;
            button {
                background-color: #4b4b4b;
                color: #fffcf2;
                padding: .7rem;
                width: 10rem;
                border-radius: 20px;
                border-style: none;
                font-size: 1rem;
                font-weight: 500;
                transition:all .3s ease-in-out;
                &:hover {
                    background: #588157;
                    color: #fffcf2;
                }     
            }
        }
}
